@import "bourbon";

//colors
$bg-color: #fff;
$pink: #F229CE;
$primary-link: #545E81;
$primary-link-hover: #6BD2CF;

//logo
$feel-the-bass: '../images/bass.jpg';
$grey-border: 1px solid #666;
$line-height-standard: 1;

//
body {
  background-color:$bg-color;
  font-size:18px;
  font-family: $lucida-grande;
}

h1 {
  color:$pink;
  font-family: $helvetica;
  @include margin(null 10px 20px);
}

.container {
  @include clearfix;
}

.logo {
  background-image: url($feel-the-bass);
  @include margin(null 10px 20px);
  height:455px;
  width:500px;
  @include clearfix;
  float:left;
}


a {
  text-decoration: none;
  color: $primary-link;

  &:hover {
    color: $primary-link-hover;
  }
}

ul {
  list-style-type: none;
  li {
    line-height:$line-height-standard;
	}

}


.links {
  float:left;
}

.triangle {
  @include triangle(12px, gray, right);
  display:inline-block;
}

.soundcloud {
  text-align:center;
  width:400px;
  @include margin(null 10px 20px);
}
